body {
    margin:0;
}

.red {
    background: #c71226;
    height: 100px;
}

.blue {
    background: #0d1b88;
    height: 100px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.green {
    background: #397327;
    height: 100px;
}

